<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:customerastaging.page.link</string>
		<string>applinks:customerbstaging.page.link</string>
		<string>applinks:customerb.page.link</string>
		<string>applinks:customera.page.link</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)skore.io.customerb.staging</string>
		<string>$(AppIdentifierPrefix)skore.io.customera.staging</string>
		<string>$(AppIdentifierPrefix)skore.io.customera</string>
		<string>$(AppIdentifierPrefix)skore.io.customerb</string>
	</array>
</dict>
</plist>
