//
//  bprod.xcconfig
//  Runner
//
//  Created by Huy Nguyen on 6/2/19.
//  Copyright © 2019 The Chromium Authors. All rights reserved.
//

#include "Generated.xcconfig"
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-bprod.xcconfig"
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-bprod.xcconfig"

FLUTTER_TARGET = lib/main_b_prod.dart
FLUTTER_APP_NAME = [Production] Customer B
CUSTOM_BUNDLE_IDENTIFIER = skore.io
BUNDLE_SUFFIX = .customerb
